<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ STATIC_PREFIX }}/css/style.css" />
        {% endblock %}
    </head>
    <body>
            <div class="block">
                {% block content %}
                {% endblock %}
            </div>
    </body>
</html>