<!DOCTYPE html>

<html>
    <head>
      <h2>Hi {% if ph_admins %} {{ph_admins}} {% else %} Admins {% endif %} ({{PH_SERVER}}) </h2>
    </head>
    <body>
            <div class="block">
                {% block content %}
                {% endblock %}
            </div>
    </body>

    <p>
    -----------------------------------------------------<br/>
       Powerhive Inc<br/>
       816 Bancroft Way<br/>
       Berkeley, CA 94710</p>
</html>