{% extends "base_email_template.html" %}

{% block content %}
<div> Cron triggered process summary</div><br/>
<table style="width:100%">
    <tr align="left">
        <th>Run Since </th>
        <th>Process</th>
        <th>Success</th>
        <th>Counts</th>

    </tr>
    {% for cron_job in cron_job_logs %}
    <tr style="{% if not cron_job.is_success %}color:red{% endif %}">
        <td>{{cron_job.run_since}}</td>
        <td>{{cron_job.code}}</td>
        <td>{{cron_job.is_success}}</td>
        <td>{{cron_job.counts}}</td>

    </tr>
    {% empty %}
    <li>No cron job log is found!</li>
    {% endfor %}
</table>
{% endblock %}
