{% extends "base.html" %}

{% block content %}
<h2>Customer Registration</h2>
<form action="{% url 'ph_admin:customer-creation'%}" method="post">
    {% csrf_token %}
    <div class="customer_registeration">
        {{form.as_p}}
        <input type="submit" value="Register" class="'register-btn"/>
    </div>
</form>
{% endblock %}
