{% extends "base_email_template.html" %}
{% load filters_or_tags %}
{% block content %}
<div> New Event raised</div><br/>
Event Type: {{eventType.itemType}}: {{eventType.eventNumber}}<br/>
Event Description: {{eventType.eventDescription}}<br/>
DeviceId: <a href="{% construct_event_url eventType.itemType event.itemId %}"> {{event.itemId}}</a><br/>
Event Details:
<ul>
    {% for eventDetail in eventDetails %}
     <li>{{eventDetail.itemName}} : {{eventDetail.itemValue}}</li>
     <br/>

    {% empty %}
    <li>No details!</li>
    {% endfor %}
</ul>

{% endblock %}
