{% extends "base.html" %}

{% block content %}
<h2>Mass SMS Tool</h2>
<form enctype="multipart/form-data" action="{% url 'ph_admin:sms-tool'%}" method="post">
    {% csrf_token %}
    <div class="">
        {{form.as_p}}
        <input type="submit" value="Send SMS Broadcast" class="'register-btn"/>
    </div>
</form>
{% endblock %}
